.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 15px;
  padding-top: 20px; /* Add padding-top for top space */
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.audio-player:hover {
  background-color: #e9e9e9;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.player-controls button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
  margin: 0 10px; /* Add margin for space between buttons */
}

.player-controls button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.player-info {
  text-align: center;
  color: #333;
}

.mt-20 {
  margin-top: 20px;
}
